.flit-btn{
  width: 100px;
  height: 40px;
  margin-left: 65px;
  border: none;
  background-color: #bababa;

}

.flit-btn:hover{
  transform: scale(1.1);
  background-color: rgb(147, 148, 149);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.card {
  background-color: #ffffffd2 !important;
  border-style: ridge;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.cad{
   margin-left: 50px;

}

.cont{
margin-top: -380px;
 width: 100%;
 margin-left: 60px;
}

.main{
  width: 1300px;
  margin-left: 250px;
  margin-top:0px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(254, 254, 254);
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.filt{
  margin-left: 30px;
  margin-top: 70px;
  width: 290px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #d0d0d075;

}

.cat{
  width: 200px;
}


.btn {
  background-color: #d0d0d0a0;
  height: 50px;
  width: 150px;
  font-family: cursive;
  text-align: center;
}

#text {
  font-size: 40px;
  text-align: center;
}

.checked {
  color: orange;
}

.border-black {
    border-color: black !important;
  }
  .size-btn:hover {
    background-color: #7e7e7e;
    border-color: #000;
  }
  .size-btn{
    width: 80px;
  }

  .add-to-cart{
    background-color: rgb(187, 187, 187);
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
  }

  .add-to-cart:hover{
    background-color: #777978; 
  }

  .rev{
    font-size: 18px;
  }

.prod-img img {
  max-width: 500px;
  height: auto;
  max-height: 550px;
  object-fit: contain;
  padding-bottom: 30px;
  display: block;
  margin: 0 auto;
  
}
.top{
  padding-bottom: 80px;
}

.realt{
  margin-left: 100px;
  margin-top: 100px;
}

h6{
  font-size: 20px;
}
.name{
  font-size: 25px;
}
.pri-name{
  color: #5d2020;
  font-size: 30px;
}

.des{
  font-size: 18px;
}

.cart-no{
  border-color: #000;
  border-style:groove;
  color: black;
}